* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.landing-div{
  background-color: #0c0c87;
  padding: 24px 120px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links{
  color: white;
  text-decoration: none;
  margin-left: 16px;
}

.home-div{
  background-color: #0c0c87;
  padding: 0 120px 48px;
  display: flex;
  justify-content: space-between;
}

.home-right, .home-left{
  width: 48%;
}

.home-right{
  display: flex;
  justify-content: center;
}

#welcome{
  color: #bbbbff;
}

.home-left h1{
  margin: 24px 0;
  color: white;
  font-size: 48px;
}

#btn-get-started{
  margin-left: 16px;
  border: none;
  padding: 12px 18px;
  background-image: linear-gradient(to bottom right, #2d2de1 , #9999de);
  color: white;
}

.logo-img{
  width: 48px;
}

#madowow{
  color: white;
  margin-bottom: 16px;
  font-size: 18px;
}

.twins-btns{
  padding: 16px 48px;
  border-radius: 4px;
}

.twin-1{
  margin-right: 12px;
  background-color: #09ece5;
  border: none;
  color: #0c0c87;
}

.twin-2{
  background: transparent;
  border: 2px solid white;
  color: white;
}

.businessman{
  width: 60%;
}

.white-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards{
  
  background-color: white;
  padding: 48px;
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition:  0.5s;
}

.cards:hover{
  box-shadow: 0px 8px 41px 4px rgba(217,217,217,1);
  transform: scale(106%);
}

.cards button{
  padding: 12px 24px;
  background-color: #0c0c87;
  color: white;
  border: none;
  border-radius: 4px;
}

.computer-icon{
  font-size: 48px;
}

.customers{
  text-align: center;
  margin: 40px;
}


.logo-apple {
  font-size: 50px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.logo-apple img{
  width: 160px;
  margin-bottom: 24px;
}

.matter{
  padding: 48px;
  display: flex;
  justify-content: space-between;
}


.matter-h3{
  font-size:28px;
  margin-bottom: 26px;
}

.matter-button{
  padding: 12px 24px;
  background-color: #0c0c87;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 32px;
}

.investerman{
  width: 20%;
}
.matter-one{
  width: 25%;
}
.blulight{
  background-image: linear-gradient(to right, #2d2de1 , #1c9ec9);
}

.check{
  font-size: 50px;
}

.remote-div{
  border-radius: 6px;
  display: flex;
  margin-bottom: 12px;
  padding: 8px;
  box-shadow: 0px 8px 41px 4px rgba(217,217,217,1);
}






